/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM CSS START*/

body {
  font-family: 'Noto Sans', 'PT Sans', 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background: url('/images/mosaic.png') repeat;
}

.page-container {
    margin: 0px auto;
    width: 100%;
}

.error {
  display: block;
  width: 80%;
  position: fixed;
  text-align: center;
  top: 10px;
  color: red;
  font-size: 19px;
  z-index: 999;
  background: #FFF;
  padding: 5px;
}

header {

  .container {
    width: 80%;
    margin: 0px auto;
  }

  .logo-container {
    background: #3f4652;
    padding: 10px;
  }

  .menu-container {
    background: #d8d8d8;
    font-size: 18px;
    padding: 8px 0px;

    .insights {
      width: 45%;
      display: inline-block;
      strong {
        text-decoration: underline;
      }
    }
    .state-insight {
      text-align: right;
    }

    .state-btn {
      display: inline-block;
      padding: 5px 13px;
      border-radius: 30px;
      background: #FFF;
      margin: 0px 0px 0px 5px;
      color: #000;
      text-decoration: none;
      border: 1px solid #18d4ca;
    }

  }
}

.map-container {
    overflow: auto;
    vertical-align: top;
    width: 100%;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 110px;
}

.map,
.metro {
  width: 70%;
  height: 100%;

  &.hide {
    display: none;
  }

  &.open {
  }
  
}

.map {
  .tooltip {
    text-align: center;

    ul.facts {
      margin: 0px;
      padding: 0px;
      width: 100%;
      text-align: center;
      vertical-align: top;

      li {
        display: inline-block;
        margin: 0px;
        padding: 10px;
        text-align: center;
        h4 {
          font-size: 15px;
          display: block;
          margin: 5px 0px;
        }
        label {
          font-weight: 500;
        }
        &:nth-child(odd) {
          border-right: 1px solid #CCC;
        }
      }

    }
  }
}

.metro {

}

.publications {
    width: 30%;
    height: 97%;
    position: relative;
    overflow: auto;
    float: right;
    margin: 0px;
    color: #6f6f6f;
    font-size: 100%;
    margin: 10px 10px 0px 10px;
    background: #FFF;

  .publications-data {
    padding: 20px;
  }

  .form-control {

    font-size: 100%;
    margin: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;

    label {
      display: inline-block;
      text-align: right;
    }

    input#pac-input {
      width: 95%;
      display: inline-block;
      padding: 10px;
      font-size: 18px;
    }

  }

  .form-output {

    padding: 3px 0px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
    background: #424345;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    overflow: auto;

    .toggle-btn {
      display: block;
      text-align: right;
      text-decoration: underline;
      font-size: 11px;
      margin: 0px 5px 0px 5px;
      color: white;
    }

    .content {
      margin: 10px;
    }

    .search-place {
      padding-bottom: 10px;
      border-bottom: 1px solid #CCC;
      margin-top: 16px;
    }

    h3 {
      font-size: 20px;
      line-height: 1.4em;
    }

    .customer-reach {
      font-size: 15px;
      font-weight: normal;
      color: #CCC;
      span {
        font-weight: bold;
      }
    }

    ul.facts {
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      margin: 0px;
      padding: 0px;
      width: 100%;
      text-align: center;
      vertical-align: top;

      li {
        display: inline-block;
        min-width: 49%;
        margin: 0px;
        padding:0px;
        text-align: center;
        h4 {
          font-size: 16px;
          display: block;
          margin: 5px 0px;
        }
        label {
          font-weight: 500;
        }
        &:nth-child(odd) {
          border-right: 1px solid #CCC;
        }
      }

    }

  }

  .publication-header {
    display: block;
    margin: 10px 0px 0px 0px;
    padding: 5px 0px 0px 11px;
    font-size: 19px;
    color: #000;

    .toggle-btn {
      display: inline-block;
      float: right;
      text-decoration: underline;
      font-size: 11px;
      color: blue;
    }

  }

  &.ng-scope:after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(transparent, #ddd) left repeat;
  }

  .pub-list {

    display: block;
    vertical-align: top;
    margin: 10px 0px;
    padding:0px;
    overflow: auto;
    position: relative;

    li {
      margin: 0px;
      padding: 0px;
      list-style: none;

      a {
        display: block;
        margin: 0px;
        padding: 5px 0px 5px 10px;
        border-bottom: 1px solid #CCC;
        text-decoration: none;
        color: #6f6f6f;
      }

      &.active a {
        background: #CC0000;
        color: #FFF;
      }

    }

   /* &.open {
      top: 0px;
      transition-property: top;
      transition-duration: 1s;
      transition-timing-function: linear;
    }

    &.hide {
      top: -50em;
      transition-property: top;
      transition-duration: 1s;
      transition-timing-function: linear;
    }*/



  }


}

.disclaimer {
    position: relative;
    z-index: 100;
    background: white;
    width: auto;
    float: left;
    padding: 10px;
    font-size: 12px;
    margin: 7px;
    opacity: 0.7;

}
