<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular maps with newsadds publication</title>
    <!--//WITH CALLBACK FN
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfHPB2CpWVLUSWWrIxWE2BBKE5OAWiyw4&libraries=places&components=country:au&callback=initMap">
    </script>-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfHPB2CpWVLUSWWrIxWE2BBKE5OAWiyw4&libraries=places&components=country:au">
    </script>
    <script src="dist/bundle.js"></script>
</head>
<body>
    <div ng-app="mapApp" class="page-container">

        <div ng-controller="MapController as ctrl">

            <header>
                <div class="logo-container">
                    <div class="container">
                        <img class="logo" src="images/newsadds.png"/>
                        <h1 class='error' ng-if="mapError">{{mapError}}</h1>
                    </div>
                </div>
                <div class="menu-container">
                    <div class="container">
                        <div class="current-insight insights">
                            Showing insights for <a ng-click="ctrl.showLocal(activeMapConfig)" href=""><strong>{{activeMapConfig.insights}}</strong></a>
                        </div>
                        <div class="state-insight insights">For state insights on the <strong>{{activeMapConfig.metros[0].id}}</strong>, select
                            <a class="state-btn" ng-click="ctrl.showMetro(activeMapConfig)" href="">State/Metro</a>
                        </div>
                    </div>
                </div>
            </header>

            <map-component class="map-container" config="activeMapConfig">
                <div publications-list class="publications"></div>
                <div google-map class="map"></div>
                <div metro-area class="metro"></div>
            </map-component>

        </div>


    </div>
</body>
</html>