<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular maps with newsadds publication</title>
    <!--//WITH CALLBACK FN
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfHPB2CpWVLUSWWrIxWE2BBKE5OAWiyw4&libraries=places&components=country:au&callback=initMap">
    </script>-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfHPB2CpWVLUSWWrIxWE2BBKE5OAWiyw4&libraries=places&components=country:au">
    </script>
    <script src="dist/bundle.js"></script>
    <link rel="stylesheet" href="dist/styles.css" />
</head>
<body>
    <div ng-app="mapApp" class="page-container">

        <ul class="links" style="display: none;">
            <li><a href="#/?state=nsw" ng-click="$ctrl.changeState('nsw')">NSW</a></li>
            <li><a href="#/?state=vic" ng-click="$ctrl.changeState('vic')">VIC</a></li>
            <li><a href="#/?state=qld" ng-click="$ctrl.changeState('qld')">QLD</a></li>
        </ul>

        <div  ng-controller="MapController as ctrl">
            <map-component class="map-container" config="activeMapConfig">
                <div publications-list class="publications"></div>
                <div map-area class="map"></div>

            </map-component>
        </div>



    </div>
</body>
</html>