<div class="publications-data">
    <div class="form-control">
        <input id="pac-input" class="pac-input" type="text" placeholder="Enter suburb to find publication">
    </div>
    <div class="form-output">
        <div class="search-place content" ng-if="searchedPlace">
            The publications available in {{searchedPlace.vicinity}}
        </div>
        <div ng-repeat="publication in publications" ng-if="publication.isSelected">
            <div class="content">
                <h3 >{{publication.id}}</h3>
                <div class="customer-reach">Reaching customers in <span>?</span></div>
            </div>
            <ul class="facts">
                <li ng-repeat="(key, value) in publication.facts">
                    <div class="content">
                        <h4>{{key}}</h4>
                        <label>{{value}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <ul class="pub-list" style="display: none;">
        <li ng-repeat="publication in publications track by $index" class="{{publication.isSelected ? 'active': 'none'}}">
            <a ng-click="onClickPublicationLink(publication)" href="">{{publication.id}}</a>
        </li>
    </ul>
</div>
<div class="disclaimer" style="background: none;">
    *  Map data reflects distribution as at 01/01/2017
</div>
